.navbar-lewagon {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background: rgb(185, 185, 185);
  border-bottom: black solid 1px;
  height: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
